// Table :: Base

// Dependencies
@import "pack/seed-dash/_index";
@import "../../config";

& {
  &,
  col,
  colgroup,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    box-sizing: border-box;
  }

  & {
    max-width: 100%;
    width: 100%;
  }

  thead {
    th {
      border-bottom: ceil(2 * $seed-table-border-width) solid $seed-table-border-color;
      vertical-align: bottom;
    }
  }

  th,
  td {
    border-top: $seed-table-border-width solid $seed-table-border-color;
    padding: _get($seed-table-padding-sizes, md);
  }

  tbody {
    & + tbody {
      border-bottom: ceil(2 * $seed-table-border-width) solid $seed-table-border-color;
    }
  }
}
